*pdf
*tsv
*DoseResponse*
*gz
*rds
*png
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
*~
*#
coderdata.egg-info
__pycache__
tests/__pycache__
dist
build/lib
build/local
coderdata/_version.py
local/
