body {
    padding-top: 150px; /* Increased to push the content down below the larger header */
    background-color: #E0F2F1;
    font-family: Arial, sans-serif;
}

.header {
    font-size: 24px;
    background-color: #001c38; 
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 10px; 
}

.title-and-description {
    display:block
}

.header span.title {
    font-size: 24px;
    font-weight: bold; 
}


.header span.description {
    font-size: 18px; 
    margin-top: 10px; 
    transition: max-height 0.3s ease-in-out;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    width: auto;
}

.header span,div {
    margin-right: 20px; 
}

.header-logo {
    height: 100%;
    width: auto; 
}

.navbar {
    right: 40;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center; 
    padding-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #546E7A;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #546E7A;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    height: auto;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dataset-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dataset-container {
    width: 12%; /* Adjust the width as needed */
    margin-bottom: 20px;
}

.dataset-link {
    display: block;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.dataset-blurb {
    padding: 10px;
    width: 80%;
    text-indent: 2px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

code {
    background-color: white; 
    width: 60%;
    border: 1px solid #ccc; 
    padding: 10px; 
}

/* pre > code.language-bash {
    background-color: white; 
    width: 60%;
    border: 1px solid #ccc; 
    padding: 10px; 
}

pre > code.language-python {
    background-color: white; 
    width: 100%;
    box-sizing: border-box; 
    padding: 10px; 
    display: block; 
    overflow-x: auto; 
    border: 1px solid #ccc;
} */
/* 
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    padding-right: 20px;
}

.hamburger div {
    width: 3px; 
    height: 10px;
    background-color: white;
    transition: all 0.3s; 
} */



@media (max-width: 1200px) {
    /* .navbar a,
    .dropdown-content {
        display: none; 
    } */
/* 
    .hamburger {
        display: flex;
        padding-right: 20px;
    } */
    .navbar.open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 20px;
        /* position: absolute; */
        right: 0;
        top: 60px; /* Adjust the top value based on the height of your header */
        background-color: #001a37; /* Same as header background for consistency */
    }
    .header.span.description {
        display: none;
    }
}

/* Styles for when the navbar is open */
.navbar.open a {
    display: block;
}

/* Rotate hamburger into an 'X' */
/* .hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}
 */


 .code-box {
    background-color: white;
    border: 1px solid #ccc;
    font-family: monospace; /* Gives the text a code-like appearance */
    /* white-space: pre-wrap; Preserves whitespace and line breaks */
    /* word-break: break-all; Prevents long lines from overflowing */
    overflow-x: auto; /* Adds a horizontal scrollbar if content is too wide */
}

.code-box p {
    margin: 2px; /* Removes the default paragraph margin */
    line-height: normal; /* Sets line height to normal to remove extra spacing */
    padding: 2px; /* Ensures there's no padding adding extra space */
}

.flex-container {
    display: flex;
    justify-content: space-around; /* Or use 'center' if you prefer */
    align-items: center;
    flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */
    width: 95%;
    height: 500px;
}

.flex-item {
    margin: 10px;
    flex-basis: calc(50% - 20px);
    box-sizing: border-box;
    height: 100%;
    background-color: white;    
    border: 1px solid black;
    border-radius: 2px;
    border-color: #001a37;
}


.flex-item embed {
    width: 100%; /* Makes the image and PDF take the full width of their container */
    height: 100%; /* Keeps the aspect ratio of the image and scales the height accordingly */
    border-radius: 2px;
    border-color: #001a37;
}


.flex-item img {
    width: 85%; /* Makes the image and PDF take the full width of their container */
    height: 100%; /* Keeps the aspect ratio of the image and scales the height accordingly */
    border-radius: 2px;
    border-color: #001a37;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 20px; 
}

.dot_transcriptomics { background-color: maroon; }
.dot_proteomics { background-color: midnightblue; }
.dot_mutations { background-color: seagreen; } 
.dot_copy_number { background-color: darkorange; } 

.legend {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.legend p {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    margin-right: 10px; 
    
}

.legend .dot {
    margin-left: 5px;
    margin-right: 20px; 
}


.code-comment {
    color: green;
}



@media (max-width: 768px) {
    .header {
        height: 100px;
        padding: 5px 10px; 
    }

    .header-logo {
        height: 80%;
        width: auto;
    }

    .title-and-description {
        display: block;
        text-align: center; 
    }

    .title-and-description .title {
        font-size: 18px; 
    }

    .title-and-description .description {
        display: none; 
    }
}

@media (max-width: 480px) {
    .header {
        height: 80px; 
    }

    .header-logo {
        height: 70%; 
    }

    .title-and-description .title {
        font-size: 16px; 
    }

}



.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header .description {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .navbar {
        display: none;
    }

    .navbar.open {
        display: block;
        position: absolute;
        right: 0;
        top: 60px; /* Adjust based on your header's height */
        background-color: #001c38; /* Match your header background color */
        width: 100%;
    }
}
