body {
    padding-top: 150px; /* Increased to push the content down below the larger header */
    background-color: #E0F2F1;
    font-family: Arial, sans-serif;
}

.header {
    font-size: 24px;
    background-color: #001c38; 
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 135px;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 10px; 
}

.title-and-description {
    display:block
}

.header span.title {
    font-size: 24px;
    font-weight: bold; 
}


.header span.description {
    font-size: 18px; 
    margin-top: 10px; 
    transition: max-height 0.3s ease-in-out;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    width: auto;
}

.header span,div {
    margin-right: 20px; 
}

.header-logo {
    height: 100%;
    width: auto; 
}

.navbar {
    right: 40;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center; 
    padding-right: 20px;
}

.navbar a:hover {
    background-color: #546E7A;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #546E7A;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    height: auto;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dataset-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dataset-container {
    width: 65px;
    margin-bottom: 20px;
}

.dataset-link {
    display: block;
    background-color: #f2f0f0;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    width: 65px;
}

.dataset-blurb {
    padding: 10px;
    width: 65px;
    text-indent: 2px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

code {
    background-color: white; 
    width: 60%;
    border: 1px solid #ccc; 
    padding: 2.5px; 
    
}


pre > code.language-bash {
    background-color: white; 
    width: 60%;
    border: 1px solid #ccc; 
    padding: 10px; 
}

pre > code.language-python {
    background-color: white; 
    width: 100%;
    box-sizing: border-box; 
    padding: 10px; 
    display: block; 
    overflow-x: auto; 
    border: 1px solid #ccc;
}
/* 
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    padding-right: 20px;
}

.hamburger div {
    width: 3px; 
    height: 10px;
    background-color: white;
    transition: all 0.3s; 
} */



@media (max-width: 1280px) {
    /* .navbar a,
    .dropdown-content {
        display: none; 
    } */
/* 
    .hamburger {
        display: flex;
        padding-right: 20px;
    } */

    /* .dropdown-content {
        position: static; /* Override absolute positioning */

    .navbar.open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 20px;
        /* position: absolute; */
        right: 0;
        top: 60px; /* Adjust the top value based on the height of your header */
        background-color: #001a37; /* Same as header background for consistency */
    }
    .header.span.description {
        display: none;
    }
}

/* Styles for when the navbar is open */
.navbar.open a {
    display: block;
}

/* Rotate hamburger into an 'X' */
/* .hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}
 */


.code-box {
    background-color: white;
    border: 1px solid #ccc;
    font-family: monospace; /* Gives the text a code-like appearance */
    /* white-space: pre-wrap; Preserves whitespace and line breaks */
    /* word-break: break-all; Prevents long lines from overflowing */
    overflow-x: auto; /* Adds a horizontal scrollbar if content is too wide */
}

.code-box p {
    margin: 2px; /* Removes the default paragraph margin */
    line-height: normal; /* Sets line height to normal to remove extra spacing */
    padding: 2px; /* Ensures there's no padding adding extra space */
}

.flex-container {
    display: flex;
    justify-content: space-around; /* Or use 'center' if you ffer */
    align-items: center;
    flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */
    width: 100%;
    height: 350;
}

.flex-item {
    margin: 5px;
    box-sizing: border-box;
    height: 100%;
    /* background-color: white;     */
    /* border: 1px solid black; */
    /* border-radius: 2px; */
    /* border-color: #001a37; */
    width: 100%;
    max-width: 825px;
}


/* .flex-item embed {
    width: 100%; 
    height: 100%;
    border-radius: 2px;
    border-color: #001a37;
} */


.flex-item img {
    width: 100%; 
    height: auto; 
    /* border-radius: 2px; */
    /* border-color: #001a37; */
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1px; 
}

.dot_transcriptomics { background-color: maroon; }
.dot_proteomics { background-color: midnightblue; }
.dot_mutations { background-color: seagreen; } 
.dot_copy_number { background-color: darkorange; } 

.legend {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.legend p {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    margin-right: 10px; 
    
}

.legend .dot {
    margin-left: 5px;
    margin-right: 20px; 
}


.code-comment {
    color: green;
}



/* @media (max-width: 900px) {
    .header {
        height: 240px;
        padding: 5px 10px; 
    }
    body {
        padding-top: 250px;
    }

    .header-logo {
        height: 50%;
        width: auto;
    }

    .title-and-description {
        display: block;
        text-align: center; 
    }

    .title-and-description .title {
        font-size: 18px; 
    }

    .title-and-description .description {
        display: none; 
    }
}

@media (max-width: 480px) {

    .header-logo {
        height: 70%; 
    }

    .title-and-description .title {
        font-size: 16px; 
    }

} */



/* Hamburger Menu Style */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #979797;
}



/* Responsive Styles */
@media (max-width: 1225px) {
    .hamburger {
        display: flex;
    }
    
    .navbar {
        display: none;
        position: absolute;
        top: 120%; /* Positioned right below the header */
        left: 0; /* Align to the left edge */
        width: 100%; /* Take full width */
        background-color: #001c38; /* Match your header background color */
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start (left) */
    }
    
    .navbar div {
        width: 20%; /* Each item takes full width */
        text-align: left; /* Align text to the left */
    }
    
    .navbar.open {
        display: flex;
        top: 140px;
        height: 150px;
    }

    .navbar.open + .header {
        height: 240px;
        padding: 5px 10px; 
    }
    .navbar.open + body {
        padding-top: 260px; /* Increased to push the content down below the larger header */
    }

    .header-logo {
        height: 100%;
        width: auto;
    }

    .title-and-description {
        display: block;
    }

    .title-and-description .title {
        font-size: 18px; 
    }

    /* .title-and-description .description {
        display: none; 
    } */
}

/* Responsive Styles */
@media (max-width: 850px) {
    .header .description {
        display: none;
    }
}
/* 
.navbar.open + .header {
    height: 160px;
} */

@media (max-width: 480px) {

    .header-logo {
        height: 80%; 
    }

    .title-and-description .title {
        font-size: 16px; 
    }

}

/* Github stlye syntax highlighting*/

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */