body {
    padding-top: 150px; /* Increased to push the content down below the larger header */
    background-color: #E0F2F1;
    font-family: Arial, sans-serif;
}

.header {
    font-size: 24px;
    background-color: #263238; 
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 10px; 
}


.header span.title {
    font-size: 24px;
    font-weight: bold; 
}

.header span.description {
    font-size: 20px; 
    margin-top: 10px; 
}

.navbar {
    /* position: fixed; Fixed position to the header */
    right: 40;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center; 
    padding-right: 20px;
    /* align-self: flex-end; */
}



.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #546E7A;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #546E7A;
}


/* Dropdown menu styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dataset-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dataset-container {
    width: 12%; /* Adjust the width as needed */
    margin-bottom: 20px;
}

.dataset-link {
    display: block;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.dataset-blurb {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

pre, code {
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 10px; 
}

@media (max-width: 768px) {
    .header {
        font-size: 20px; 
        padding: 5px 10px; 
    }

    .header span.title,
    .header span.description {
        font-size: 18px; 
        display: block; 
    }

    .navbar {
        flex-direction: column; 
    }

    .navbar a,
    .dropdown-content a {
        font-size: 14px;
        padding: 5px; 
    }

    .dropdown-content {
        position: static;
    }
}